body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(211, 208, 208, 0.548);
    backdrop-filter: blur(10px);
    padding-left: 2%;
}
#heading{
    font-size: 150%;
}
#mainborder{
    background-image: url("download\ \(4\).jpeg");
    background-size: cover;
    width: 100%;
    height: auto;
}
#mainborder-text{
    padding-top: 10%;
    background-color: rgba(255, 255, 255, 0.849);
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text1{
    font-size: 200%;
    width: 50%;
    color: rgb(56, 56, 56);
}
span{
    color: rgb(33, 131, 223);
}
h1{
    font-size: 400%;
    width: 50%;
}
#explore-vehicles{
    background-color:  rgb(33, 131, 223);
    color: white;
    padding: 1% 5%;
    margin-top: 3%;
    border-radius: 1em;
    display: inline;    
}
#explore-vehicles:hover{
    box-shadow: 0 0 20px  rgb(33, 131, 223);
    font-size: 110%;
}
#watch-video{
    background-color: white;
    color: black;
    padding: 1% 7%;
    margin-top: 2%;
    border-radius: 1em;
    display: inline;
    margin-left: 1%;
}
#watch-video:hover{
    background-color: rgb(33, 131, 223);
    box-shadow: 0 0 20px rgb(33, 131, 223);
    font-size: 110%;
}
#animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin-top: 5%;
    animation: move 3s ease-in-out infinite alternate;
}
@keyframes move {
    0%{transform: translateY(0%);}
    100%{transform: translateY(100%);}
}
#mainborder6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainborder2{
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 252, 255);
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#top-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.border{
    width: 20%;
    margin: 1%;
    border-radius: 1em;
    text-align: center;
    height: 200px;
    background-color: white;
}
.border:hover{
    box-shadow: 0 3px 10px black;
}
.colortext{
    color: rgb(33, 131, 223);
}
h2, h3{
    font-size: 300%;
}
#topcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#maincontainer{
    text-align: center;
}
.border2{
    width: 30%;
    box-shadow: 0px 5px 2px rgb(207, 207, 207);
    margin: 5% 1%;
    border-radius:1em;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
img{
    border-radius: 1em;
    width: 100%;
    height: 100%;
}
img:hover{
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}
.price{
    font-size: 150%;
    color: rgb(33, 131, 223);
    font-weight: 1000;
}
#view-all-vehicles{
    background-color: rgb(33, 131, 223);
    width: fit-content;
    margin: 0 auto;
    padding: 1% 3%;
    border-radius: 1em;
}
#view-all-vehicles:hover{
    box-shadow: 0 0 20px blue;
    transform: scale(1.1);
    transition: 2s;
}
h4{
    font-size: 250%;
}
#contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.roww{
    margin: 0% 4%;
    width: 20%;
    text-align: center;
    font-size: 120%;
}
.imagecontainer{
    width: 30%;
    display: inline-block;
    overflow: hidden;
    margin: 0 1%;
}
#showcase{
    margin-top: 3%;
    text-align: center;
}
h6, h5{
    font-size: 200%;
}
#get-in-touch{
    font-size: 300%;
    font-weight: 1000;
}
#subborder1{
    width: 40%;
    display: inline;
}
#testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    box-shadow: 0 0 20px black;
    padding: 3%;
    border-radius: 1em;
}
#change{
    background-color: blue;
    color: white;
    font-size: 101%;
    padding: 1% 5%;
    border-radius: 1em;
}
#change:hover{
    box-shadow: 0 0 20px blue;
}
#mainsubborder{
    display: flex;
    flex-direction: row;
}
form{
    box-shadow: 0 0 20px black;
    padding: 10% 0%;
    width: 40%;
    border-radius: 1em;
    display: inline;
}
input{
    margin-top: 5%;
    border-radius: 1em;
    padding-left: 5%;
    font-size: 102%;
}
textarea{
    margin-top: 5%;
    width: 50%;
    padding: 5% 0%;
}
#submit{
    background-color: blue;
    padding: 1% 5%;
    color: white;
    margin-top: 5%;
    font-size: 105%;
    border-radius: 1em;
}
#lastpartcontainer{
    display: flex;
    flex-direction: row;
    text-align: center;
}
.lastpart{
    width: 30%;
}
#ending{
    font-size: 200%;
    font-weight: 500;
}
footer{
    padding: 5% 0;
    background-color: rgb(3, 52, 99);
    color: white;
}
#all-rights-reserved{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}