body{
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(211, 208, 208, 0.548);
    backdrop-filter: blur(10px);
    padding-left: 2%;
}
#heading{
    font-size: 150%;
}
#mainborder{
    background-image: url("download\ \(4\).jpeg");
    background-size: cover;
    width: 100%;
    height: auto;
}
#mainborder-text{
    padding-top: 10%;
    background-color: rgba(255, 255, 255, 0.849);
    padding-left: 2%;
    padding-bottom: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#text1{
    font-size: 200%;
    width: 50%;
    color: rgb(56, 56, 56);
}
span{
    color: rgb(33, 131, 223);
}
h1{
    font-size: 400%;
    width: 50%;
}
#explore-vehicles{
    background-color:  rgb(33, 131, 223);
    color: white;
    padding: 1% 5%;
    margin-top: 3%;
    border-radius: 1em;
    display: inline;    
}
#explore-vehicles:hover{
    box-shadow: 0 0 20px  rgb(33, 131, 223);
    font-size: 110%;
}
#watch-video{
    background-color: white;
    color: black;
    padding: 1% 7%;
    margin-top: 2%;
    border-radius: 1em;
    display: inline;
    margin-left: 1%;
}
#watch-video:hover{
    background-color: rgb(33, 131, 223);
    box-shadow: 0 0 20px rgb(33, 131, 223);
    font-size: 110%;
}
#animation{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 200%;
    margin-top: 5%;
    animation: move 3s ease-in-out infinite alternate;
}
@keyframes move {
    0%{transform: translateY(0%);}
    100%{transform: translateY(100%);}
}
#mainborder6{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#mainborder2{
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 252, 255);
}
#container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#top-part{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.border{
    width: 20%;
    margin: 1%;
    border-radius: 1em;
    text-align: center;
    height: 200px;
    background-color: white;
}
.border:hover{
    box-shadow: 0 3px 10px black;
}
.colortext{
    color: rgb(33, 131, 223);
}
h2, h3{
    font-size: 300%;
}
#topcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#maincontainer{
    text-align: center;
}
.border2{
    width: 30%;
    box-shadow: 0px 5px 2px rgb(207, 207, 207);
    margin: 5% 1%;
    border-radius:1em;
    text-align: center;
    display: inline-block;
    overflow: hidden;
}
img{
    border-radius: 1em;
    width: 100%;
    height: 100%;
}
img:hover{
    transform: scale(1.1);
    transition: transform 2s ease-in-out;
}
.price{
    font-size: 150%;
    color: rgb(33, 131, 223);
    font-weight: 1000;
}
#view-all-vehicles{
    background-color: rgb(33, 131, 223);
    width: fit-content;
    margin: 0 auto;
    padding: 1% 3%;
    border-radius: 1em;
}
#view-all-vehicles:hover{
    box-shadow: 0 0 20px blue;
    transform: scale(1.1);
    transition: 2s;
}
h4{
    font-size: 250%;
}
#mainborder4header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
#contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.roww{
    margin: 0% 4%;
    width: 20%;
    text-align: center;
    font-size: 120%;
}
.imagecontainer{
    width: 30%;
    display: inline-block;
    overflow: hidden;
    margin: 0 1%;
}
#mainborder5header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
}
#showcase{
    margin-top: 3%;
    text-align: center;
}
h5{
    font-size: 200%;
}
#get-in-touch{
    font-size: 300%;
    font-weight: 1000;
}
h6{
    font-size: 300%;
}
#image{
    width: 10%;
    border-radius: 100%;
}
#testimonials{
    box-shadow: 0 0 3px rgb(134, 134, 134);
    padding: 3%;
    border-radius: 1em;
}
#mainborder7{
    margin-bottom: 10%;
}
#getintouchheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-bottom: 4%;
}
#mainsubborder{
    display: flex;
    flex-direction: row;
}
#subborder1{
    width: 50%;
    margin: 0% 3%;
    font-weight: 200;
}
form{
    box-shadow: 0 0 3px #868686;
    padding: 3% 0%;
    width: 50%;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    margin: 0% 3%;
}
input, textarea{
    margin: 1% 6%;
    padding: 2% 2%;
    border-radius: 1em;
    border: solid 1px rgb(134, 134, 134);
}
textarea{
    margin-top: 5%;
    padding: 5% 2%;
}
#submit, #change{
    background-color: rgb(33, 131, 223);
    padding: 2% 5%;
    color: white;
    margin: 5%;
    font-size: 105%;
    border-radius: 1em;
    border: solid 1px rgb(134, 134, 134);
}
#submit:hover, #change:hover{
    transform: scale(1.05);
    transition: 2s;
}
#lastpartcontainer{
    display: flex;
    flex-direction: row;
}
.lastpart{
    width: 30%;
}
#ending{
    font-size: 200%;
    font-weight: 500;
}
footer{
    padding: 5% 0;
    background-color: rgb(3, 52, 99);
    color: white;
}
#all-rights-reserved{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}
@media (max-width: 940px) and (orientation: portrait){
    h1{
        font-size: 300%;
        text-align: left;
    }
    #mainborder{
        font-size: 80%;
        text-align: center;
        width: 100%;
        margin-top: 10%;
    }
    #explore-vehicles, #watch-video{
        display: block;
        width: 50%;
        text-align: center;
        padding: 2% 0;
    }
    h2{
        text-align: center;
    }
    #container{
        display: flex;
        flex-direction: column;
    }
    .border{
        width: 90%;
        box-shadow: 0 0 7px black;
        margin-top: 6%;
    }
    .border2{
        width: 90%;
    }
    h4{
        text-align: center;
    }
    #contain{
        display: flex;
        flex-direction: column;
    }
    .imagecontainer{
        width: 90%;
    }
    #mainsubborder{
        display: flex;
        flex-direction: column;
    }
    form{
        width: 90%;
    }
    #lastpartcontainer{
        display: flex;
        flex-direction: column;
    }
    .lastpart{
        width: 90%;
    }
}